/*Form*/
.initialSpacer {
    height: 25vh;
}
.bookSearchForm h1 {
    padding-bottom: 1em;
}
#authors {
    width: 50%;
    padding: .05em .5em;
}
.searchButton {
    padding: 0;
    outline: none;
    border: 0;
    background-color: #337ab7;
    border-radius: .3em;
    margin-left: .5%;
}
.searchButton:hover {
    background-color: #265a88;
}
#authors, .searchButton {
    font-size: 1.3em;
    line-height: 1.9em;
    margin-bottom: 2em;    
    vertical-align: middle;
}
.glyphicon-search {
    font-size: 1.2em;
    padding: .03em .5em;
    line-height: 1.8em;
    top: 0;
    color: #fff;
    background-color: transparent;
    vertical-align: middle;
}


/*List*/
.resultMessage {
  text-align: left;
  color: #9C9C9C;
}
.book {
  text-align: left;
  margin: 1.5em 0;
}
.book img {
  border-radius: .3em;
  border: .2em solid #9C9C9C;
}
.bookTitle {
  font-size: 1.4em;
  font-weight: bold;
}
.linkImage {
  vertical-align: top;
}
.linkImage:hover {
  text-decoration: none;
  border: 0 none;
}
.bookDetail {
  display: inline-block;
  vertical-align: top;
  margin-left: .75em;
  width: calc(100% - 2em - 50px);
}
.bookSubText {
  font-size: 1.1em;
}
